[submodule "external/googletest"]
	path = external/googletest
	url = https://www.github.com/google/googletest
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://www.github.com/google/benchmark
